{% extends "base.jinja.html" %}

{% block head %}
    {{super()}}
{% endblock %}

{% block title%}
    表單
{% endblock %}

{% block content%}
    <div class="container-md">
        <form action="" method="post">
            <input type="text" name="username" placeholder="請填姓名" required>
            <select name="pets">
                <option value="">請選擇你最愛的寵物</option>
                <option value="dog">Dog</option>
                <option value="cat" selected>Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider" disabled>Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <input type="submit" value="送出">
        </form>
    </div>
{% endblock %}