{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 表單網頁 {% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Brand
      </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong>{{message}}
    </div>

    {% endfor %}
    <div class="page-header">
    <h1>Hello, {% if name %} {{ name }} {% else %} Stranger {% endif %}</h1>
    </div>
</div>


{{ wtf.quick_form(form) }}

{% endblock %}