<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Layout/Index</title>
  </head>
  <body>
  <div class="container">
      <div class="row">
          <div class="col-sm bg-info">
               <h3>範例</h3>
              <p>Bootstrap 的網格系統使用一系列容器、行、和欄進行排版和對齊內容。它用 flexbox 建立，並且完全符合響應式。下面是網格系統如何整合的例子及深入瞭解。</p>
          </div>
           <div class="col-sm bg-secondary">
               <h3>如何運作</h3>
               <p>
                   我們的網格系統支援 六個響應式斷點。 斷點主要是基於 min-width 來設置 media queries, 這代表著它們將會影響該斷點及其上的所有斷點（例如，.col-sm-4 適用於sm，md，lg，xl 和 xxl）。 這也意味著您可以通過每個斷點控制容器和欄的大小以及行為。
               </p>
          </div>
           <div class="col-sm bg-success">
               <h3>網格選項</h3>
               <p>Bootstrap 的網格系統預設會自動適應六個斷點以及您自定義的任何斷點。而這六個斷點如下：

極小 (xs)
小 (sm)
中 (md)
大 (lg)
特大 (xl)
超級大 (xxl)
如上述所述, 每一個斷點都有屬於自己的容器空間，主要是透過以下 class 操作。以下是這些網格在特定斷點的變化:</p>
          </div>

      </div>

  </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


  </body>
</html>