{% extends "base.jinja.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-md">
        <div class="table-responsive" style="max-height: 400px; overflow-y: scroll;">
                <table class="table caption-top">
                        
                        <thead>
                                <tr>
                                        <th>日期</th>
                                        <th>開盤</th>
                                        <th>最高</th>
                                        <th>最低</th>
                                        <th>收盤1</th>
                                        <th>收盤2</th>
                                        <th>成交量</th>
                                </tr>

                        </thead>
                        <tbody>
                                {% for rows in data %}
                                <tr>
                                        {% for item in rows%}
                                        {% if loop.first%}
                                        <td>{{ item }}</td>
                                        {% elif loop.last %}
                                        <td>{{ "{:,d}".format(item) }}</td>
                                        {% else %}
                                        <td>{{ "{:.2f}".format(item) }}</td>
                                        
                                        {% endif %}
                                        {% endfor %}
                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </div>

</div>
{% endblock %}