<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
        /* X-Small devices (portrait phones, less than 576px)*/
        /* No media query for `xs` since this is the default in Bootstrap*/
        /*Small devices (landscape phones, 576px and up)*/

        @media (min-width: 576px) {}

        /*Medium devices (tablets, 768px and up)*/
        @media (min-width: 768px) {}

        /*Large devices (desktops, 992px and up)*/
        @media (min-width: 992px) {}

        /* X-Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {}

        /*XX-Large devices (larger desktops, 1400px and up) */
        @media (min-width: 1400px) {}
    </style>
</head>

<body>
    <div class="container-md">
        <div class="row">
            <div class="col border bg-success bg-opacity-50">
                Occaecat est elit non magna. Anim magna velit aliquip ipsum. Aliqua labore sint voluptate labore cupidatat sint exercitation dolor duis duis adipisicing.
            </div>
            <div class="col border bg-primary bg-opacity-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, distinctio architecto? Minus eaque quia, ut laudantium recusandae similique rem nihil sapiente mollitia rerum sint ad illum reprehenderit deserunt molestias laborum.
            </div>
            <div class="col border bg-info bg-opacity-50">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas magni eum corrupti dolorem est repudiandae iure, itaque sapiente, minima, aliquid suscipit ipsum amet facilis ea expedita atque et asperiores accusamus.
            </div>
        </div>
    </div>


    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>