{% extends "base.html" %}
{% block head %}
    {{super()}}
    <style type="text/css">
         div{
               background-color: #DDDDDD;
             }

         @media (min-width:576){
            div{
                background-color: #FCF7E4
            }
         }
    </style>
{% endblock %}

{% block title %}
    首頁
{% endblock %}

{% block body %}
    <div class="container-md">
    <p>
      （中央社網站8日電）大甲鎮瀾宮副董事長鄭銘坤表示，大甲媽祖11日晚間起駕，經擲茭請示後，依照疫情中心大型活動不超過1000人規定，本次遶境將控制大轎周圍隊伍不超過800人，並保持社交距離。
    </p>
    <p>
      鄭銘坤說，所有參加人員造冊，全程戴口罩，起駕宴取消，在新港奉天宮舉辦的祝壽大典改由信徒自由參拜，並呼籲信徒盡量以網路收看。
    </p>
    <p>
      （中央社記者趙麗妍、蔡智明台中8日電）國內武漢肺炎疫情趨緩，7日起大規模解封，因疫情延後舉辦的大甲鎮瀾宮媽祖遶境進香活動，廟方今天上午11時將宣布起駕時間。其他宮廟證實，起駕日期訂於11日深夜。
      嘉義新港奉天宮總幹事李進興表示，日前大甲鎮瀾宮副董事長鄭銘坤告知，11日（週四）晚上大甲媽要起駕，至於遶境的人數、如何配合，奉天宮要再與鎮瀾宮連絡。
    </p>
    <p>
      大甲媽祖遶境進香活動今年本預計在3月19日起駕，後因武漢肺炎（2019冠狀病毒疾病，COVID-19）疫情升溫延後舉辦，中央流行疫情指揮中心指揮官陳時中日前特地在農曆的媽祖生日，南下鎮瀾宮參拜，他表示，有機會可以舉辦遶境進香活動，但要視疫情變化。
    </p>
    <p>


      為防疫廟方持續掌握中央流行疫情指揮中心各項措施，日前也配合防疫，入廟參拜除需量體溫、酒精消毒雙手，也控管廟內人數。
    </p>
    <p>
      解封後，鎮瀾宮昨天深夜也發出訊息，今天上午11時召開記者會「宣布大家關心的事」，預計說明大甲媽祖遶境進香相關事宜。
    </p>
    <p>
      大甲媽祖遶境進香活動為期9天8夜，路程長達340多公里，橫跨台中、彰化、雲林、嘉義4縣市，年年吸引百萬信眾相隨。（編輯：唐聲揚、黃世雅）1090608
    </p>
  </div>
{% endblock %}

