<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
  </head>
  <body>
  <div class="container-md">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <h1><a class="navbar-brand " href="#">小尖兵大學</a></h1>
      </div>
    </nav>
  </div>

    {% block body %}
    {% endblock %}

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

  </body>
</html>