{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}




{% block title %}
首頁
{% endblock %}



{% block body %}
<div class="container-md">
    <div class="row">
        <div class="col">
            <h1>Hello! Bootstrap!</h1>
        </div>
    </div>
    <!-- 一欄設固定寬 -->
    <div class="row">
        <div class="col border">
            1 of 3
        </div>
        <div class="col-6 border">
            2 of 3 (wider)
        </div>

        <div class="col border">
            3 of 3
        </div>
    </div>
    <!-- 一欄設固定寬 -->
    <div class="row">
        <div class="col border">
            1 of 3
        </div>
        <div class="col-5 border">
            2 of 3 (wider)
        </div>

        <div class="col border">
            3 of 3
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-2 border">
            1 of 3
        </div>
        <div class="col border">
            2 of 3
        </div>

        <div class="col col-lg-2 border">
            3 of 3
        </div>
    </div>

    <!-- 欄位必需和內容一樣寬 -->
    <div class="row justify-content-center">
        <div class="col col-lg-2 border">
            1 of 3
        </div>
        <div class="col-auto border">
            2of3(variable width content)
        </div>

        <div class="col col-lg-2 border">
            3 of 3
        </div>
    </div>

    <div class="row">
        <!-- extra small col沒寫就是填滿-->
        <div class="col-sm-8 border">
            col-sm-8
        </div>

        <div class="col-sm-4  border">
            col-sm-8
        </div>
    </div>

    <div class="row">
        <!-- extra small col有寫就是平均分配-->
        <div class="col col-sm-8 border">
            col-sm-8
        </div>

        <div class="col col-sm-4  border">
            col-sm-8
        </div>
    </div>

    <div class="row">
        <!-- extra small 沒有col有就是填滿-->
        <div class="col-sm border">
            col-sm
        </div>

        <div class="col-sm  border">
            col-sm
        </div>

        <div class="col-sm  border">
            col-sm
        </div>
    </div>
</div>
{% endblock %}