{% extends "base.html" %}

{% block title %}
Columns-欄
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container-md">
    <!--column 對齊-->
    <div class="row align-items-start">
        <div class="col border">
            One of three columns
            古根漢 (Guggenheim Partners) 投資長明納德 (Scott Minerd)  長期以來一直都是比特幣的多頭大將，但他周三 (21 日) 示警，比特幣漲勢過快過猛，恐將大幅修正 50%。

明納德表示：「鑑於短期內比特幣的飆漲，整體看起來非常泡沫，我認為比特幣將面臨重大修正。」

加密貨幣交易所 Coinbase 上周的直接上市，曾激勵比特幣創下 6.5 萬美元的歷史新高，但本周比特幣大幅回檔，截至周四已跌破 5.5 萬美元。
        </div>

        <div class="col border">
            Two of three columns
        </div>

        <div class="col border">
            Three of three columns
        </div>

    </div>

     <div class="row align-items-center">
        <div class="col border">
            One of three columns
            古根漢 (Guggenheim Partners) 投資長明納德 (Scott Minerd)  長期以來一直都是比特幣的多頭大將，但他周三 (21 日) 示警，比特幣漲勢過快過猛，恐將大幅修正 50%。

明納德表示：「鑑於短期內比特幣的飆漲，整體看起來非常泡沫，我認為比特幣將面臨重大修正。」

加密貨幣交易所 Coinbase 上周的直接上市，曾激勵比特幣創下 6.5 萬美元的歷史新高，但本周比特幣大幅回檔，截至周四已跌破 5.5 萬美元。
        </div>

        <div class="col border">
            Two of three columns
        </div>

        <div class="col border">
            Three of three columns
        </div>

    </div>

    <div class="row align-items-end">
        <div class="col border">
            One of three columns
            古根漢 (Guggenheim Partners) 投資長明納德 (Scott Minerd)  長期以來一直都是比特幣的多頭大將，但他周三 (21 日) 示警，比特幣漲勢過快過猛，恐將大幅修正 50%。

明納德表示：「鑑於短期內比特幣的飆漲，整體看起來非常泡沫，我認為比特幣將面臨重大修正。」

加密貨幣交易所 Coinbase 上周的直接上市，曾激勵比特幣創下 6.5 萬美元的歷史新高，但本周比特幣大幅回檔，截至周四已跌破 5.5 萬美元。
        </div>

        <div class="col border h-auto">
            Two of three columns
        </div>

        <div class="col border h-auto">
            Three of three columns
        </div>

    </div>

    <div class="row" style="height:100px">
        <!--單獨欄位對齊-->
        <div class="col align-self-start border">
            One of three columns
        </div>
        <div class="col align-self-center border">
            One of three columns
        </div>
        <div class="col align-self-end border">
            One of three columns
        </div>
    </div>

    <div class="row justify-content-start">
        <!--欄位左右對齊-->
        <div class="col-4 border">
            One of two columns
        </div>
        <div class="col-4 border">
            One of two columns
        </div>
    </div>

    <div class="row justify-content-center">
        <!--欄位左右對齊-->
        <div class="col-4 border">
            One of two columns
        </div>
        <div class="col-4 border">
            One of two columns
        </div>
    </div>

    <div class="row justify-content-end">
        <!--欄位左右對齊-->
        <div class="col-4 border">
            One of two columns
        </div>
        <div class="col-4 border">
            One of two columns
        </div>
    </div>

    <div class="row justify-content-around">
        <!--欄位左右對齊-->
        <div class="col-4 border">
            One of two columns
        </div>
        <div class="col-4 border">
            One of two columns
        </div>
    </div>

    <div class="row justify-content-between">
        <!--欄位左右對齊-->
        <div class="col-4 border">
            One of two columns
        </div>
        <div class="col-4 border">
            One of two columns
        </div>
    </div>

    <div class="row justify-content-evenly">
        <!--欄位左右對齊-->
        <div class="col-4 border">
            One of two columns
        </div>
        <div class="col-4 border">
            One of two columns
        </div>
    </div>

    <div class="row">
        <!--超出的自動包裝-->
        <div class="col-9 border">.col-9</div>
        <div class="col-4 border">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
        <div class="col-6 border">.col-6<br>Subsequent columns continue along the new line.</div>
    </div>

    <div class="row">
        <!--強迫中斷欄-->
        <div class="col-6 col-sm-3 border">.col-6 .col-sm-3</div>
        <div class="col-6 col-sm-3 border">.col-6 .col-sm-3</div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col-6 col-sm-3 border">.col-6 .col-sm-3</div>
        <div class="col-6 col-sm-3 border">.col-6 .col-sm-3</div>
    </div>


</div>
{% endblock %}