{% extends "base.html" %}

{% block title %}
table-表格
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container-md">
  <div class="row justify-content-between">
    <h1 class="col-auto pt-3">6年9班第一學期成績單</h1>
    <div class="col-md-3 d-md-flex flex-row-reverse">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped caption-top">
        <caption>1~50號的分數</caption>
        <thead>
        <tr>
          <th scope="col">座號</th>
          <th scope="col">國文</th>
          <th scope="col">英文</th>
          <th scope="col">數學</th>
          <th scope="col">地理</th>
          <th scope="col">歷史</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          {% for score in student %}
            {% if score >= 60 %}
              <td class="text-success">{{ score }}</td>
            {% else %}
              <td class="text-white bg-danger">{{ score }}</td>
            {% endif %}
          {% endfor %}

        </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}