{% extends "base.jinja.html" %}

{% block head %}
        {{ super() }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-md">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit quos blanditiis, laborum vero perspiciatis molestias eligendi corporis facere sapiente voluptatibus dolores officiis necessitatibus ducimus beatae, est distinctio ab ad minus possimus sit fuga obcaecati enim! Libero veniam perferendis fugiat labore est. Rerum, suscipit est. Quas doloremque tenetur commodi distinctio quaerat numquam omnis? Totam non magnam perspiciatis, ipsum nobis culpa ipsam aut atque adipisci labore rem corrupti eaque mollitia inventore quae nostrum. Sequi obcaecati recusandae perspiciatis optio itaque ut. Vitae enim aliquid, a odit tenetur repellendus impedit minus ipsa, numquam, voluptatem tempora veritatis ullam sequi officia distinctio accusantium unde fuga iste.
</div>
{% endblock %}