{% extends "base.html" %}

{% block 大樂透猜牌 %}
nav-link active
{% endblock %}

{% block title %}
大樂透猜牌
{% endblock %}

{% block main %}
<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">編號</th>
          <th scope="col">提供者</th>
          <th scope="col">號碼1</th>
          <th scope="col">號碼2</th>
          <th scope="col">號碼3</th>
          <th scope="col">號碼4</th>
          <th scope="col">號碼5</th>
          <th scope="col">號碼6</th>
          <th scope="col">特別號</th>
          <th scope="col">日期時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Robert</td>
          <td>29</td>
          <td>10</td>
          <td>44</td>
          <td>15</td>
          <td>31</td>
          <td>19</td>
          <td>23</td>
          <td>2020-04-16 13:20:35</td>
      </tr>
        <tr>
          <td>2</td>
          <td>Robert</td>
          <td>21</td>
          <td>18</td>
          <td>41</td>
          <td>15</td>
          <td>32</td>
          <td>40</td>
          <td>40</td>
          <td>2020-04-16 13:20:35</td>
      </tr>
        <tr>
          <td>3</td>
          <td>Robert</td>
          <td>12</td>
          <td>10</td>
          <td>41</td>
          <td>19</td>
          <td>30</td>
          <td>17</td>
          <td>14</td>
          <td>2020-04-16 13:20:35</td>
      </tr>


      </tbody>
    </table>
  </div>
{% endblock %}