<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"  >

    <title>Bootstrap5</title>
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">樂透資訊</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a aria-current="page" class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">號碼1</th>
          <th scope="col">號碼2</th>
          <th scope="col">號碼3</th>
          <th scope="col">號碼4</th>
          <th scope="col">號碼5</th>
          <th scope="col">號碼6</th>
          <th scope="col">特別號</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>29</td>
        <td>10</td>
        <td>44</td>
        <td>15</td>
        <td>31</td>
        <td>19</td>
        <td>23</td>
      </tr>
        <tr>
        <td>21</td>
        <td>18</td>
        <td>41</td>
        <td>15</td>
        <td>32</td>
        <td>40</td>
        <td>40</td>
      </tr>
        <tr>
        <td>12</td>
        <td>10</td>
        <td>41</td>
        <td>19</td>
        <td>30</td>
        <td>17</td>
        <td>14</td>
      </tr>


      </tbody>
    </table>
  </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>


  </body>
</html>