<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <title>Form1</title>
</head>
<body>
    {% if not name  %}
    <div class="container">
        <form method="post">
            {{form.hidden_tag()}}
            {{form.name.label(class="form-label") }} 
            {{form.name(class="form-control") }}
            {{form.submit(class="btn btn-primary mt-3")}}
        </form>
    </div>
    {% else %}
    <div class="container">
        <h1>{{ name }}</h1>
    </div>
    {% endif %}
    

<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>