<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <title>{% block title%}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
  <div class="container-md">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">巨匠大樂透電腦選號中心</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/lot">電腦選號</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    {% block body %}
    {% endblock %}


    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>