{% extends "/main/base.html" %}

{% block title%}
Main lot
{% endblock %}

{% block head%}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}


{% block body%}
<div class="container-md">
    <div class="row">
        {% for item in lots %}
        <div class="col-sm-6 col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">第{{loop.index}}組</h5>
                    <h6 class="card-subtitle mb-2 text-muted">一般號</h6>
                    {% for num in item[0] %}
                        <p class="card-text">{{num}}</p>
                     {% endfor %}
                    <h6 class="card-subtitle mb-2 text-muted">特別號</h6>
                    <p class="card-text">{{item[1]}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}