{% extends "/base.html" %}

{% block title%}
Main lot
{% endblock %}

{% block head%}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}


{% block body%}

<form action="" method="post">
    <div class="container-md">
        <div class="row">

            <div class="col-8">
                <select class="form-select" aria-label="Default select example" name="count">
                    <option selected>請輸入組數</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                    <option value="16">16</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">送出</button>
            </div>

        </div>
    </div>
</form>
<div class="container-md">

    <div class="row justify-content-around ">
        {% for item in lots %}
        <div class="col-sm-6 col-md-3  g-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">第{{loop.index}}組</h5>
                    <h6 class="card-subtitle mb-2 text-muted">一般號</h6>
                    {% for num in item[0] %}
                        <p class="card-text">{{num}}</p>
                     {% endfor %}
                    <h6 class="card-subtitle mb-2 text-muted">特別號</h6>
                    <p class="card-text">{{item[1]}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}