h1{
    color: red;
}

p{
    color:green;
}

li{
    list-style-type: none;
}

.special {
    color:orange;
    font-weight: bold;
}

li em{
    color:rebeccapurple
}

h1 + p {
    font-size:200%;
}

a:link{
    color:pink
}

a:visited{
    color:green;
}

a:hover{
    text-decoration: none;
}