{% extends "/base.html" %}

{% block title%}
<h1>Form 首頁</h1>
{% endblock %}

{% block head%}
{{ super() }}
<style type="text/css">
/*
.form-label{
    margin-bottom:1rem;
}
*/


element.style {
}
.form-check-input[type=checkbox] {
    border-radius: .25em;
}


</style>
{% endblock %}


{% block body%}
<form action="" method="post">
    <div class="container-md">
        <div class="row justify-content-center mb-3">
            <div class="col-md-8">
                <lable for="exampleFormControlInput1" class="form-label">Email Address</lable>
                <input type="email" name="email" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <lable for="exampleFormControlTextarea1" class="form-label">Example textarea</lable>
                <textarea  name="desc" class="form-control" id="exampleFormControlTextarea1"></textarea>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <input name="overnight" class="form-check-input" type="checkbox" value="yes" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">過夜</label>

            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-8 d-flex justify-content-end">
                <button type="submit" class="btn btn-secondary">送出</button>
            </div>
        </div>
    </div>
</form>

    {% if person %}
    <div class="container-md">
        <div class="row">
            {{person.email}}, {{person.desc}}, {{person.overnight}}
        </div>
    </div>
    {% endif %}

{% endblock %}