{% extends "/base.html" %}

{% block title%}
表單驗證
{% endblock %}

{% block head%}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}


{% block body%}
<div class="container-md">
  <form class="row g-3" method="post" action="">
    <div class="col-md-4">
      {{form.hidden_tag()}}
      {{form.firstname.label(class='form-label')}}{{form.firstname(class='form-control')}}
    </div>
    <div class="col-md-4">
      {{form.lastname.label(class='form-label')}}{{form.lastname(class='form-control')}}
    </div>

    <div class="col-12">
      {{form.submit(class='btn btn-primary')}}
    </div>
  </form>


  <div class="row">
    <div class="col-12">
      {% if firstname %}
      <h1>{{firstname}}</h1>
      {% endif %}

      {% if lastname %}
      <h1>{{lastname}}</h1>
      {% endif %}
    </div>
  </div>

</div>





{% endblock %}




